<app-header titulo ="ionCard"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="oin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor quam eos facere reiciendis maiores adipisci,
       molestiae omnis quasi dolorem quia labore praesentium vitae consequatur iste deserunt eaque dolorum delectus! Minus.
    </ion-card-content>
  </ion-card>

<ion-card>
   <img src="/assets/icon/gato2.jpg" >
   <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quam quasi voluptatum ipsa praesentium animi nemo
     nam, minus numquam iusto commodi voluptatem odit cum recusandae eos, rem eligendi reprehenderit! Iure.
  </ion-card-content>
</ion-card>

</ion-content>
